.app-main {
  min-height: 100vh;
  transition: background-color 0.3s, color 0.3s;
}

.app-main.dark-mode {
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.app-title {
  margin-bottom: 2rem;
}
